body {
    font-family: Arial;
    background-color: lightgreen;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: green;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: green;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 10px;
}

ul, ol {
    color: green;
    margin-left: 20px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.p1 {
    color: orange;
    margin-top: 20px;
    font-size: 1.1em;
}

/* 
ol, li, a {
    color: orange;
}

ol, li, a {
    color: red;
}
*/

.p2 {
    color: red;
    margin-top: 20px;
    font-size: 1.1em;
}

.cetak-tebal {
    font-weight: bold;
}


